.main_menu_container {
    -fx-background-color: #282C34;
    -fx-padding: 10px;
    -fx-background-radius: 0 0 0 10;
}

.title_container {
    -fx-background-color: #3C4048;
    -fx-background-radius: 20 20 0 0;
    -fx-alignment: top_center;
    -fx-padding: 10;
}

.title_container Text {
    -fx-fill: white;
    -fx-font-size: 16px;
}

.menu_container {
    -fx-spacing: 30px;
    -fx-padding: 20px;
}

.button {
    -fx-background-color: #3C4048;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-font-size: 14px;
    -fx-pref-height: 40px;
    -fx-pref-width: 160px;
    -fx-alignment: center-left;
    -fx-padding: 5 20 5 10;
    -fx-graphic-text-gap: 11px;
}

.button:hover {
    -fx-background-color: #4A4E58;
}

.button:pressed {
    -fx-background-color: #61AFEF;
    -fx-text-fill: black;
}

.button-selected {
    -fx-background-color: #61AFEF;
    -fx-text-fill: black;
}

.button-selected:hover{
    -fx-background-color: #61AFEF;
}

#btnSignOut {
    -fx-background-color: #E06C75;
    -fx-text-fill: white;
    -fx-pref-width: 112px;
    -fx-pref-height: 30px;
}

#btnSignOut:hover {
    -fx-background-color: #D54C5A;
}

#btnSignOut:pressed {
    -fx-background-color: #B33C4C;
}

.icon {
    -fx-fill: white;
    -fx-opacity: 0.8;
}
